extends layouts/main

block content
    .form__container
        form(action=routes.join, method ="post")
            input(type="text",name="name",placeholder="Enter Your name", required=true)
            input(type="email",name="email",placeholder="Email", required=true)
            input(type="password",name="password",placeholder="Enter your password", required=true)
            input(type="password",name="password2",placeholder="verify your password", required=true)
            input(type="submit",value="Join in")
        include ./partials/socialLogin
